body {
	font-family: "Lato", sans-serif;
	font-weight: 300;
}

.text-header {
	color: #878787;
	padding-left: 50px;
}

.text-thin {
	font-weight: 100;
	color: black;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
	width: 100px;

}

.center {
	margin: auto;
}

p { 
	font-size: 25px;
	padding: 20px 55px 0;
	text-align: justify;
}

.text-color {
	color: black;
}

footer p {
	font-size: 15px;
	font-weight: 20;
	text-align: center;

}
